@import "../../global/global.css";
@import './partials/modal.css';
@import './partials/nav.css';
@import './partials/hero.css';
@import './partials/marcas.css';

.homepage {
  position: relative;
  width: 1440px;
  height: 4370px;
  margin: auto;
  background: var(--primary-color);
}
