@media (max-width: 390px) {
  /* Hero Section */
  .hero-container {
    flex-direction: column;
    width: 390px;
  }

  .hero-left {
    height: 460px;
  }

  .hero-right {
    width: 390px;
    height: 448px;
    position: relative;
    left: -20px;
    margin: 0 auto;
  }

  .hero-title {
    width: 315px;
    height: 93px;
    top: 40px;
    left: 16px;
    font-size: 36px;
    line-height: 34px;
  }

  .hero-text {
    width: 358px;
    top: 76px;
    left: 16px;
  }

  .hero-button {
    width: 358px;
    top: 126px;
    left: 16px;
  }

  .hero-details {
    width: 278px;
    top: 140px;
    left: 56px;
    justify-content: center;
    align-items: left;
    gap: 20px;
    flex-wrap: wrap;
  }

  .hero-details--text {
    justify-content: left;
    h2 {
      font-size: 24px;
      line-height: 32.4px;
    }
    p {
      font-size: 12px;
    }
  }

  .line-2 {
    display: none;
  }

  .hero-container {
    gap: 0;
  }

  .hero-right {
    left: 0;
  }

  .hero-image {
    width: 390px;
    height: 100%;
  }

  .star-little {
    top: 137px;
  }

  .star-medium {
    top: 40px;
  }

  /* Header Section */
  .header {
    height: 32px;
    margin-top: 32px;
  }
  .nav {
    max-width: 390px;
    gap: 110px;
  }
  .nav-links {
    z-index: 1;
    background-color: var(--primary-color);
  }
  .nav-logo {
    width: 126px;
    height: 32px;
    font-size: 25px;
  }
  .nav-390-right {
    * {
      margin-right: 5px;
    }
  }
  .user-modal {
    top: 10px;
    left: 120px;
  }
  .nav-390 {
    height: 180px;
    width: 120px;
    gap: 20px;
    position: absolute;
    top: 30px;
    left: -100px;
    display: flex;
    justify-content: left;
    color: var(--primary-text);
    background: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all 0.5s ease;
    ul {
      align-items: flex-start;
      gap: 20px;
      padding: 20px;
      li {
        outline: none;
        &:active {
          transform: scale(1.1);
        }
        a {
          outline: none;
          font: 14px var(--text-regular);
        }
      }
    }
  }

  /* Products Section */

  .products {
    width: 390px;
  }
  .products-container {
    width: 390px;
    overflow: scroll;
    gap: 16px;
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  .products-card {
    position: relative;
    left: 250px;
    width: 198px;
    height: 298px;
    > img {
      width: 198px;
      height: 198px;
    }
  }
  .products-card--name {
    font-size: 16px;
  }
  .products-card--aval {
    span {
      font-size: 12px;
      margin-top: 0px;
    }
    img {
      width: 14px;
      height: 14px;
    }
  }
  .products-card--price {
    span {
      font-size: 16px;
    }
  }
  .discount-has-text {
    font-size: 10px;
    padding: 4px 10px;
  }
  .view-all {
    width: 350px;
    font-size: 14px;
    margin-bottom: 40px;
  }

  /* Styles Section */
  .products-styles {
    width: 390px;
  }

  .section-title {
    line-height: 36px;
    width: 246px;
  }

  .styles-browser {
    width: 390px;
    flex-direction: column;
    margin: 40px 0;
  }

  .small-card, .big-card {
    width: 200px;    
  }
  
   .big-card > a > img {
    height: 100%;
    width: 85%;
   }

  .styles-card a {
    width: 350px;
    height: 190px;
    margin-left: 20px;
  }

  .styles-card--name {
    font-size: 24px;
    left: 24px;
  }

  .styles-card--imagem {
    width: 50%;
    object-fit:fill;
  }

  /* Comments Section */
  .comments {
    width: 390px;
    margin-bottom: 140px;
  }

  .comments-container {
    width: 390px;
    h2 {
      font-size: 32px;
      margin-left: 16px;
    }
  }

  .comments-container:before,.comments-container:after{
    display: none;
  }

  .arrow-left {
    top: -25px;
    left: 280px;
  }

  .arrow-right {
    top: -25px;
    left: 340px;
  }

  .card-area {
    width: 1440px;
  }

  .first-card {
    margin-left: -5px;
  }
  
  .comments-card {
    width: 350px;
    span {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }

  /* Footer */
  .newsletter {
    width: 358px;
    height: 293px;
    flex-direction: column;
    margin-bottom: -50px;
  }

  .newsletter-content {
    width: 358px;
    flex-direction: column;
  }

  .newsletter-title {
    width: 297px;
    font-size: 30px;
  }

  .footer-infos {
    flex-wrap: wrap;
    margin-left: 20px;
    gap: 20px;
  }

  .footer-infos--1 {
    min-width: 357px;
    gap: 5px;
  }

  .footer-infos--2 {
    flex-wrap: wrap;
    gap: 50px;
  }

  .footer-links-container {
    width: 157px;
  }

  .footer-logo {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .footer-text {
    height: 40px;
    margin-bottom: 20px;
  }

  .footer-links--title {
    font-size: 12px;
  }

  .footer-links {
    font-size: 12px;
  }

  .footer-copyright {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
  }
}
