@import "../../global/global.css";
@import './partials/modal.css';
@import './partials/nav.css';
@import './partials/hero.css';
@import './partials/marcas.css';
@import './partials/products-container.css';
@import './partials/product-styles.css';
@import './partials/comments.css';
@import './partials/newsletter.css';
@import './partials/footer.css';

.homepage {
  position: relative;
  width: 1440px;
  height: 100vh;
  margin: auto;
  background: var(--primary-color);
}
