.container {
  width: 1240px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.br {
  border: 1px solid red;
}


