.page-container {
  position: relative;
  width: 1440px;
  margin: auto;
  background-color: var(--primary-color);
  
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.section-title {
  margin-top: 70px;
  text-transform: uppercase;
  text-align: center;
  font: 700 48px var(--title);
  color: var(--primary-text);
}

.br {
  border: 1px solid red;
}


a:hover {
  opacity: .7;
}

.scale-hover:hover {
  transition: transform 0.3 ease-in-out;
  transform: scale(1.1) 
}

.scale-press:active {
  transition: transform 0.3 ease-in-out;
  transform: scale(0.9);
}

.not-hover:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  .container {
    width: 390px;
  }
  .section-title {
    font-size: 32px;
    margin-top: 50px;
  }
}