.comments {
  margin-bottom: 170px;
}

.comments-container {
  position: relative;
  margin-top: 55px;
  h2 {
    font: 700 48px var(--title);
    color: var(--primary-text);
  }
}

.comments-container:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
}

.comments-container:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 1340px;
  width: 100px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
}

.card-area {
  gap: 20px;
  position: relative;
  /* left: -420px; */
  overflow: scroll;
  /* left: -840px; */
  /* min-width: 1440px; */
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.arrow-left {
  margin-right: 20px;
  position: relative;
  top: 0px;
  left: calc(1240px - 100px);
  &:active {
    outline: none;
    transform: scale(1.2);
  }
}

.arrow-right {
  position: relative;
  top: 0;
  left: calc(1240px - 30px);
  &:active {
    outline: none;
    transform: scale(1.3);
  }
}

.card-container {
  margin-top: 40px;
  min-width: 400px;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* animation:  slide 5s infinite;  */
  
}


.first-card {
  margin-left: 100px;
}

.copy-card {
  visibility: hidden;
}

.comments-card {
  height: 200px;
  position: relative;
  top: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 336px;
  img {
    width: 139px;
    height: 23px;
  }
  span {
    font: 700 20px var(--text-regular);
    &:after {
      content: url("../../../../images/icon/verified.svg");
      position: relative;
      top: 5px;
      left: 5px;
    }
  }
  p {
    font: 400 16px var(--text-regular);
    color: rgba(0, 0, 0, 0.6);
  }
}