.footer {
  background: var(--secondary-color);
} 

.footer-infos {
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);;
}

.footer-infos--1 {
  width: 248px;
  gap: 20px;
}

.footer-logo {
  font: 32px var(--title);
  color: var(--primary-text);
  /* margin-bottom: 20px; */
}


.footer-text {
  height: 66px;
  font: 400 14px var(--text-regular);
  color: rgba(0, 0, 0, 0.60);
  /* margin-bottom: 25px; */
}

.footer-links--list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links--title {
  font: 500 16px var(--text-regular);
  color: var(--primary-text);
  text-transform: uppercase;
  margin-bottom: 26px;
}

.footer-links {
  font: 400 16px var(--text-regular);
  color: rgba(0, 0, 0, 0.60);

}
.footer-copyright {
  position: relative;
  justify-content: space-between;
  padding: 25px;
  p {
    margin-top: 10px;
    font: 400 14px var(--text-regular);
    color: rgba(0, 0, 0, 0.60);
  }
}