.hero {
  position: relative;
  height: 663px;
}

.hero-content {
  height: 663px;
}

.hero-title {
  width: 557px;
  position: relative;
  top: 86px;
  font: 700 64px/64px var(--title);
  color: var(--text-primary);
  word-wrap: break-word;
}

.hero-text {
  width: 545px;
  height: 33px;
  position: absolute;
  top: 303px;
  font: 16px/22px var(--text-regular);
  color: rgba(0, 0, 0, 0.6);
}

.hero-button {
  width: 210px;
  height: 52px;
  position: absolute;
  top: 373px;
  display: flex;
  gap: 12px;
  border-radius: 62px;
  background: var(--tertiary-color);
  a {
    font-family: var(--text-regular);
    color: var(--tertiary-text);
  }
}

.hero-details {
  width: 596px;
  height: 74px;
  position: absolute;
  top: 473px;
  justify-content: space-between;
}

.hero-details--text {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h2 {
    font: 40px/54px var(--text-bold);
    color: var(--primary-text);
  }
  p {
    font: 16px/22px var(--text-regular);
    color: rgba(0, 0, 0, 0.6);
  }
}

.hero-details--line {  
  height: 100%;
  transform: rotate(90deg);
  transform-origin: 0 0;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  rotate: -90deg;
}

.star-little {
  position: absolute;
  top: 297px;
  left: 750px;
  animation: star-little 2s ease-in-out infinite;
}

.star-medium {
  position: absolute;
  top: 86px;
  left: 1255px;
  animation: star-little 2.55s ease-in-out infinite;
}

@keyframes star-little {
  0% {
    transform: scale(.5);
    opacity: .7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(.5);
    opacity: .7;
  }
}