.hero {
  position: relative;
  width: 1440px;
  height: 663px;
}

.hero-title {
  width: 557px;
  position: absolute;
  left: 100px;
  top: calc(-17px + 103px);
  font: 700 64px/64px var(--title);
  color: var(--text-primary);
  word-wrap: break-word;
}

.hero-text {
  width: 545px;
  height: 33px;
  position: relative;
  top: calc(-5px + 308px);
  left: 100px;
  font: 16px/22px var(--text-regular);
  color: rgba(0, 0, 0, 0.6);
}

.hero-button {
  width: 210px;
  height: 52px;
  position: absolute;
  top: 373px;
  left: 100px;
  display: flex;
  gap: 12px;
  border-radius: 62px;
  background: var(--tertiary-color);
  a {
    font-family: var(--text-regular);
    color: var(--tertiary-text);
  }
}

.hero-details {
  width: 596px;
  height: 74px;
  position: absolute;
  top: 473px;
  left: 100px;
  justify-content: space-between;
}

.hero-details--text {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h2 {
    font: 40px/54px var(--text-bold);
    color: var(--primary-text);
  }
  p {
    font: 16px/22px var(--text-regular);
    color: rgba(0, 0, 0, 0.6);
  }
}

.hero-details--line {  
  height: 100%;
  transform: rotate(90deg);
  transform-origin: 0 0;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  rotate: -90deg;
}
