.modal {
  height: 38px;
  position: relative;
  top: -38px;
  transition: all 0.5s;
  transform: translateY(100%);
}
.modal-container {
  max-width: 100%;
  height: 100%;
  background: var(--tertiary-color);
  justify-content: center;
  align-items: center;
}

.modal-text {
  max-width: 351px;
  height: 19px;
  font: 400 14px/19px var(--text-regular);
  color: var(--tertiary-text);
}

.modal-text--2 {
  height: 100%;
  font: 700 var(--text-regular);
  text-decoration: underline;
}

.modal-close--container {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 105px;
  top: 15px;
}

@media (max-width: 600px) {
 .modal-container {
  justify-content: space-evenly;
 }
 .modal-text {
  font-size: 12px;
 }
 .modal-close--container {
  display: none;
 }
}
