.header {
  position: sticky;
  top: 0;
  height: 95px;
  z-index: 1;
  background: var(--primary-color);
}

.nav {
  gap: 40px;
  height: 48px;
}

.nav-logo {
  position: relative;
  top: -3px;
  font: 32px var(--title);
  color: var(--primary-text);
}

.nav-links {
  align-items: center;
  gap: 24px;
  width: 321px;
  height: 22px;
  font: 16px var(--text-regular);
  color: var(--primary-text);
}

.nav-links--dropdown {
  align-items: center;
  gap: 4px;
  width: 57px;
  height: 22px;  
}

.search {
  display: flex;
  flex: 1 0 0;
  padding: 10px 16px;
  align-items: flex-start;
  gap: 12px;
  border-radius: 62px;
  background: var(--secondary-color);
}

.search-button {
  width: 24px;
  height: 24px;
}

.search-input {
  width: 500px;
  font: 16px var(--text-regular);
  background: inherit;
  outline: none;
  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}

.nav-side {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  width: 63px;
  height: 24px;
}
