.newsletter {
  min-height: 180px;
  border-radius: 20px;
  background: var(--tertiary-color);
  gap: 100px;
  img {
    width: 24px;
    height: 24px;
    position: relative;
    top: 35px;
    left: 10px;
  }
}

.newsletter-content {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.newsletter-title {
  width: 551px;
  font: 700 40px var(--title);
  color: var(--tertiary-text);
}

.newsletter-sub *:not(img) {
  width: 300px;
  height: 48px;
  border-radius: 20px;
  background: var(--primary-color);
  font: 500 16px var(--text-regular);
}

.newsletter-sub {
  input {
    margin-bottom: 15px;
    padding-left: 40px;      
    outline: none;
    &&::placeholder {
      color:  rgba(0, 0, 0, 0.40);
    }
  }
}